.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(00, 00, 00, 0.3);
}

.modal-show {
  display: block;
}

.search-container {
  width: 50vw;
  background-color: rgba(255,255,255, 0.8);
  margin: 0 auto;
  padding: 10px;
}

.search-container-top {
  text-align: right;
}

.search-container-top > img {
  width: 20px;
  height: 20px;
  /* margin-right: 10px; */
  cursor: pointer;
}

.search-container-input {
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  display: inline-block;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all .3s;
  /* border-radius: 10px; */
}

.search-container-input:hover {
  border-color: #40a9ff;
  border-right-width: 1px!important;
}
.search-container-input:focus {
  border-color: #40a9ff;
  border-right-width: 1px!important;
  outline: 0;
  box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
}

.search-value-active {
  color: red;
  font-weight: bold;
  text-decoration: underline
}

.search-container-content_item {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.search-container-content_item-title {
  text-decoration: underline;
  font-size: 16px;
}

.search-container-content_item-description {
  padding: 10px 0;
  font-size: 14px;
  color: #8c8c8c;
}